<h1>List of Posts</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Content</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts;let i=index;">
            <th scope="row">{{i+1}}</th>
            <td>{{post.title}}</td>
            <td>{{post.content}}</td>
            <td><button type="button" class="btn btn-primary"
                [routerLink]="['/post', post.id]">View Detail</button></td>
        </tr>
    </tbody>
</table>